


body {
    background-color: #E5E5E5;
}

h1 { 
    font-family:'Amiko', sans-serif;
    font-size: 60px ; 
    font-weight: 700;
    text-align: left;
    margin: 161px;
    margin-top: 138px;
}
h2 {
    font-family:'Amiko', sans-serif;
    font-size: 40px ; 
    font-weight:400;
    text-align: left;
    margin: 161px;
    margin-top: 317px;
}
.nav {
    font-family:'Amiko', sans-serif;
    font-size: 15px ; 
    font-weight: 700
}
.nav li {
    display: inline;
    vertical-align: top;
    width: 50%;
    margin-left: auto;
    padding: 18px;
}

h3 {
    font-family:'Amiko', sans-serif;
    font-size: 40px ; 
    font-weight: 400;
    text-align: right;
}
p {
    font-family:'Amiko', sans-serif;
    font-size: 16px ; 
    font-weight: 600;
    text-align: right;
}

.myDiv {
    width: 1042px;
    height: 553.85px ;
    background: linear-gradient( to right, #EEEBE8 50%, #E0DDD5 50%);
    margin: 235px;
    
    
}

.divtwo {
    width: 1042px;
    height: 553.85px ;
    background: linear-gradient( to right, #EEEBE8 50%, #E0DDD5 50%);
    margin: 235px;
}

h4{ font-family:'Amiko', sans-serif;
    font-size: 40px ; 
    font-weight: 400;
    text-align: right;

}

.divthree {
    width: 1042px;
    height: 553.85px ;
    background: linear-gradient( to right, #EEEBE8 50%, #E0DDD5 50%);
margin: 235px;
}

h5 {
    font-family:'Amiko', sans-serif;
    font-size: 40px ; 
    font-weight: 400;
    text-align: right;

}

footer {

    font-family:'Amiko', sans-serif;
    font: #a6a1a1;
    font-size: 16px ; 
    font-weight: 600;
    text-align: right;
    
}
